@font-face {
   font-family: 'Patua One';
   font-style: regular;
   font-weight: 400;
   src: url('file:///D:/Users/mazevedo/Documents/Meus%20projetos/Websites/institutoequanime.com.br//fonts/Patua One/regular.ttf') format('truetype');
}
